/* 
primary background color………..F4F5F8 - white
primary font color…………………152128 - dark
graphics background……………..EAEAEA - gray
accent color……………………….9DB4AB - soft green
accent color - “spotify”.................1DB954 - bright green
body:  Literata
nav :  Poppins
header, footer, graphics:  Work Sans
 */
nav{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 2em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 5px 0 0 3px;

}
 
.header {
    margin-top: 1em;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;

}

.biggie{
    align-items: center;
    border-image-source: none;
    font-size: smaller;
}

h1 {
    padding-bottom: 2em;
    margin: 2em;
    padding: 1em, 17em,1em;
    font-family: 'Work Sans', sans-serif;
    text-align:center;
    font-size: 1.5em;

    
}

h2 {
    padding-bottom: 12px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 30px;
}

h3{
    text-align: center;
    font-size: 15px;
}
/* container-fluid (im not sure what to do with this yet  */

/* .biggie{ */

.col-md-6{
    text-align: center;
}

.graphic-a{
    padding: 2em;
    border-bottom: dashed, #1DB954;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    background-color: #EAEAEA;


}

.graphic-b {
    padding: 2em;
    border-bottom: dashed, #1DB954;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    background-color: #EAEAEA;
}

.chart-a{
    border-bottom:1px dotted #9DB4AB;
    font-size: 1em;
    text-align: center;
}

.chart-b{
    border-bottom:1px dotted #9DB4AB;
    font-size: 1em;
    text-align: center;
}
footer {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    margin: 1em, 0, 10em;
    font-size: 1em;
    color:black;
}

.footer,
footer a:link {
    color: black;
    text-decoration: underline;

}

.container-fluid {
    border: 550px;
}

.body {
    background-color:#F4F5F8;
    font-family: 'Literata', serif;
    font-size:15px;
    color:#152128;
    text-align: center;
    padding: 2em;



}

