body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #efeee9;


    color: #625858
}

nav {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 500px;
    padding: 10px;
}


.image2 {
    align-items:center;
    box-sizing: border-box;
    height:auto;
    max-width: 100%;

}

.byline {
    font-size: 10px;
}

.image1 {
    align-items: center;
    box-shadow: #425938;
    max-width: 100%;
    height:auto;
}

header {
    font-family: 'Playfair Display', serif;
}


article {
    text-emphasis-color: #F4ba38;

}

.graphic-a{
    background-color: #efeee9 ;
    color: #425938;
}

.graphic-b{
    background-color: #efeee9 ;
    color: #425938;
}

.footer {
    box-sizing: content-box;
    text-align: center;
    font-family: 'Playfair Display', serif;
    

}

@media (max-width:450px) {
    .graphic-a {
        font-size: .10em;

    }

    .graphic-b {
        font-size: 0.6em;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    article {
        padding: 2em;
        margin: 0 1em;
    }

    header {
        margin: 0 1em;
    }

    .article {
        padding: 0 2em 0 0;

    }

}

@media (max-width:775) {
    nav {
        margin: .5em, 0;
    }

    header {
        padding: 0 2em 0 0;
    }

    .image1 {
        margin: 0 0 3em 0;
        font-size: 1em;
    }

    .byline {
        padding: 0 2 em 0 0;
    }

    .graphic-a {
        margin: 2.5em 0;
        padding: 2em 1em;

    }

    .graphic-b {
        font-size: 0.12em;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    article {
        padding: 4em;
    }

    .footer {
        font-weight: 200px;
        margin: 2em 0 5em 0;
    }
}


/* 
#F4ba38..... Mustard yellow... bolded words
#425938......forest green.....special text (think heading and such)
#625858......dark gray..... Text
#efeee9......slate white/gray .....photo box background
#ffffff.....white ...............background


FONTS:
TITLES: font-family: 'Montserrat',
sans-serif;


Body font:
font-family: 'Playfair
Display', serif;

@media (max-width:450px) {
    .graphic-a {
        font-size: .10em;

    }

    .graphic-b {
        font-size: 0.6em;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    article {
        padding: 2em;
    }

}

@media (max-width:768) {
    .graphic-a {
        font-size: .20em;

    }

    .graphic-b {
        font-size: 0.12em;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    article {
        padding: 4em;
    }
}
 */